{{infoGrammagic | json}}

<form #formAdd="ngForm">
    <div class="row">
        <div class="col">Titre</div>
        <div class="col">
            <input type="text" #titre="ngModel" name="titre" [(ngModel)]="infoGrammagic.titre" required>

            <!-- <span [style.visibility]="titre.valid ? 'hidden' : 'visible'">titre obligatoire</span> -->
            <!-- les 2 facons de faire fonctionnent -->
            <span [hidden]="titre.valid">titre obligatoire</span>
        </div>
    </div>


    <div class="row">
        <div class="col">Prendre un selfie :
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" 
                
                [videoOptions]="videoOptions"
                [imageQuality]="1"
                (initError)="handleInitError($event)"
             ></webcam>

             <button class="actionBtn" (click)="triggerSnapshot();">Prendre un selfie</button>
             
        </div>
        <div class="row snapshot" *ngIf="webcamImage">
            <div class="col">
                <h2>Nouveau Selfie!</h2>
                <img [src]="webcamImage.imageAsDataUrl"/>
            </div>
            
        </div>



        <div class="col"></div>
    </div>


<div class="row border border warning">
    <h1>og</h1>
    <img src="" alt="">
</div>

    <div class="row">

        <div class="col">
            <button type="submit" [disabled]="! formAdd.form.valid" (click)="addGrammagic()" class="btn btn-info"> new
                grammagik</button>
        </div>

        <div class="col">
            <button type="button" (click)="cancelAddGrammagic()" class="btn btn-warning"> Annuler ajout</button>

        </div>
    </div>
</form>