<!-- navbar by menu.componet -->
<app-menu (goSearch)="rechercherMagikgram($event)"></app-menu>
<!-- navbar by menu.componet -->



<!-- test1 -->
<h1>{{title}} 💫</h1>


<!-- start container card -->
<main class="container">
  <div class="row">
    <div class="col-sm-9 mb-5">

      
<!-- boucle des carte -->
<!-- <app-grammagik-list [filtre]="searchingValue"></app-grammagik-list> -->

<router-outlet></router-outlet>
<!-- fin boucle des carte -->


</div> 
<!-- <div class="col-sm 	.d-none .d-sm-block ">
  menu burger <i style="color:red"> a fr plus tard</i>
</div> -->
</div>
</main>
<!-- fin end container card -->


<!-- <router-outlet></router-outlet> -->


<!-- <app-add-grammagik></app-add-grammagik> -->






    <!-- FOOTER -->
   
<footer class=" fixed-bottom border bg-light">
  <div class="b-rainbow2"></div>
  
  <div class="row iconeFooter">
    <div class="col text-center f-w-5">
      
        <i class="fa-solid fa-sliders"></i>
      
          
    </div>

    <div class="col text-center"><i class="fa-solid fa-hand-sparkles"></i></div>
    <div class="col text-center"><i class="fa-solid fa-gears"></i></div>
  </div>
</footer>
 <!-- FIN footer -->


<!-- modal heart -->
<div class="modal fade" id="modalHeart" tabindex="-1" aria-labelledby="modalHeartLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalHeartLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>