<!--   
       
    </div>
  </main> -->

<div class="border container-fluid bg-transparent shadow border-warning">




<!-- 
  <div class="block">

    <h1>test </h1> 
  </div> -->







  <div *ngFor="let gram of gramMagiKs; let i = index">


    <div class="row mb-5">
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-body col-md">
            <h5 class="card-title">{{gram.id}} numéro {{i+1}} de la liste</h5>
            <article class="row mb-3 arti shadow">
              <header class="col-12">
                <div class="row">
                  <div class="col-7">
                    <h2>{{gram.titre}} </h2>
                  </div>
                  <!-- <div class="col text-end">[...]</div> -->
                </div>

              </header>
              <!-- <div class="b-rainbow"></div> -->
              <!-- <div class="row block"> -->
                <div class="row" [ngClass]="{block: gram.logoHeart && gram.logoFire === true }">
                <div class="col-6 " >


                  <!-- <div class="w-100"> -->
                  <div class="b-rainbow"></div>
                  <!-- </div> -->
                  <div (click)="consultMagikgram(); recupInfoo(gram)" class="col pb-2">
                    <div class="b-rainbow "></div>
                    <img class="img-fluid" [src]="gram.urlImg" alt="alt.. alt">
                  </div>

                </div>

                <div class="col-6 mirroir">
                  <!-- <div class="rota"> -->
                    <!-- <div class="w-100"> -->
                    <div class="b-rainbow "></div>
                    <!-- </div> -->
                    <div (click)="consultMagikgram(); recupInfoo(gram)" class="col pb-2">
                      <div class="b-rainbow img-fluid sm lg-3 md-5"></div>
                      <img class="img-fluid" [src]="gram.urlImg" alt="alt.. alt">
                    </div>
                  </div>
                <!-- </div> -->
              </div>
              <!-- fin row body -->


              <div class="w-100"></div>

              <!-- test fFOOTER -->
              <footer class=" pb-2  skranjiFont border bg-light">
                <div class="containerRainbow">
                  <div class="mini-b-rainbow fixed mb-5 me-5"></div>
                </div>
                

                <div class="row mt-3 pb-1 iconeFooter">
                  <div class="col text-center f-w-5"> <!---bouton fire-->

                    <div class="icone">
                      <!-- <a class="btn border" (click)="onAddLike()" data-bs-toggle="modal" data-bs-target="#modalHeart"> -->
                      <!-- <a class="btn border"  >  -->
                      <a class="btn border" (click)="updateCC(gram, gram.id)">
                        <!-- <a class="btn border" (click)="onAddLike(gram, gram.id)" >  -->
  
                        <span *ngIf="!gram.logoHeart"> <i class="fa-solid fa-heart"></i> {{gram.like}}</span>
  
                        <span *ngIf="gram.logoHeart"> 💞 {{gram.like}} 💖</span>
  
  
                      </a>
                    </div>


                  </div>

                  <div class="col text-center"> <!---bouton poster--->
                    <!-- Button trigger modal SELFIE-->
                  <div>

                    <button (click)="infoCard(gram)" class="but-nft  rainbow rainbow-1 " type="button" data-bs-toggle="modal"
                    data-bs-target="#MOMOdal" >Poster un reactSelfie</button>
                     

                    <!-- <button type="button" (click)="infoCard(gram)" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#MOMOdal">

                      Poster un reactSelfie
                    </button> -->
                  </div>                    

                  </div>



                  <div class="col text-center">  <!---bouton flamme--->
                    <div class="ms-2">
                      <!-- <button (click)="clashNav()" class="btn border btn-light" type="button"> -->
                      <button (click)="updateFire(gram, gram.id)" class="btn border btn-light" type="button">
  
                        <span *ngIf="!gram.logoFire"><i class="fa-solid fa-fire-flame-curved"></i></span>
  
                        <span *ngIf="gram.logoFire">🔥 {{gram.txtBtnFire}}</span>
  
                      </button>
                    </div>
                  </div>
                </div>
              </footer>

              <!-- FIN TEST FOOTER -->



            </article>

          </div>
        </div>
      </div>

      <!-- COTER RETOUR SELFI ************************* -->
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">reactSelfie pris pour {{gram.titre}}</h5>
            <div *ngIf="modalCardInfo" class="row d-flex justify-content-center">

              <div class="card ms-3 border shadow-lg " style="width: 18rem;">
                <img class="img-fluid" name="urlImg" style="width: 400px;" [src]="gram.urlSelfie" alt="">
              </div>

            
              
            </div>
            <!-- delete supprimer <button   (click)="recupInfoToDel(gram.id)"  style="width: 15%;" type="button" class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa-solid fa-trash"></i>    </button> -->

            <!-- <p>{{gram.urlSelfie}}</p> -->
            <!-- <img class="img-fluid" name="urlImg" style="width: 400px;" [src]="gram.urlSelfie" alt=""> -->
          </div>
        </div>
      </div>
      <!-- FIN COTE RETOUR SELFI ************************* -->


    </div>






  <!-- /*************************** --> 
  <!-- Modal selfie -->
  <div class="modal fade" id="MOMOdal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog skranjiFont">
      <div *ngIf="modalCardInfo" style="width: 650px;" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title skranjiFont" id="exampleModalLabel">Prendre le reactSelfie pour {{oneCardInfo.titre}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col">Portrait :
              <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                [videoOptions]="videoOptions" [imageQuality]="1" (initError)="handleInitError($event)"></webcam>

              <!-- <button class="mt-4 mb-4 actionBtn" (click)="triggerSnapshot();">Ajouter un reactselfie ! 😎</button> -->

              <div class="row mt-4 mb-4">
                <div class="col-4"> <button class="but-nft  rainbow rainbow-1 pt-2 actionBtn" (click)="triggerSnapshot();">Ajouter un reactselfie ! 😎</button></div>
                <div class="col-8"> <p>Pour des raisons de droits d'image, aucun selfie pris depuis l' application est envoyé ou enregistré dans la base de donnée 🌜 🌝 </p> </div>
              </div>

            </div>
            <div class="row snapshot" *ngIf="webcamImage">
              <div class="col">
                <h5>Dernier reactSelfie pris !</h5>
                <img class="img-fluid" [width]="400"  [src]="webcamImage.imageAsDataUrl" />


              </div>

            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="vUpdate()"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- FNI MODAL SELFIE ******************** -->

<!-- fin test modalmove -->
<!-- **/*/*///////////////////////// -->





    <!-- DELETE MODAL -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">supprimer reactSelfie {{this.produitInfo.titre}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card ms-3 border " style="width: 18rem;">
          <img class="img-fluid" name="urlImg" style="width: 200px;" [src]="gram.urlSelfie" alt="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">confirmer suppression</button>
      </div>
    </div>
  </div>
</div>

    <!-- FINDELETE MODAL -->

  </div>






  <br><br>



</div>