
<!--   
       
    </div>
  </main> -->

  <div class="border container-fluid border-warning">













<div *ngFor="let gram of gramMagiKs; let i = index">


<div class="row mb-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{gram.id}}</h5>
        <article class="row mb-3 arti shadow">
          <header class="col-12">
            <div class="row">
              <div class="col-7">
                <h2>{{gram.titre}} </h2>
              </div>
              <!-- <div class="col text-end">[...]</div> -->
            </div>
        
          </header>
          <!-- <div class="b-rainbow"></div> -->
          <div class="row">
            <div class="col-6">
        
        
              <!-- <div class="w-100"> -->
                <div class="b-rainbow"></div>
              <!-- </div> -->
              <div (click)="consultMagikgram(); recupInfoo(gram)" class="col pb-2">
                <div class="b-rainbow "></div>
                <img class="img-fluid" [src]="gram.urlImg" alt="alt.. alt">
              </div>
        
            </div>
      
            <div class="col-6">
              <div class="rota">
                <!-- <div class="w-100"> -->
                  <div class="b-rainbow"></div>
                <!-- </div> -->
                <div (click)="consultMagikgram(); recupInfoo(gram)" class="col pb-2">
                  <div class="b-rainbow img-fluid sm lg-3 md-5"></div>
                  <img class="img-fluid"  [src]="gram.urlImg" alt="alt.. alt">
                </div>
              </div>
            </div>
          </div>
          <!-- fin row body -->
          
        
          <div class="w-100"></div>
          <div class="col skranjiFont footer pb-2">
            <div class="d-flex">
              <div class="icone">
                <!-- <a class="btn border" (click)="onAddLike()" data-bs-toggle="modal" data-bs-target="#modalHeart"> -->
                  <!-- <a class="btn border"  >  -->
                    <a class="btn border" (click)="updateCC(gram, gram.id)" > 
                     <!-- <a class="btn border" (click)="onAddLike(gram, gram.id)" >  -->

                      
                      <span> i éagale{{i+1}}....</span>
                      <span *ngIf="!gram.logoHeart"> <i class="fa-solid fa-heart"></i> {{gram.txtBtnHeart}}</span>{{gram.like}}
  
                      <span *ngIf="gram.logoHeart"> 💞  💖 {{gram.like}}</span> 
            
                      <div class="forTrue" *ngIf="forTrue">
                    <span *ngIf="oneCardInfo.logoHeart"> 💞  💖  {{oneCardInfo.like}}</span> 
                    </div>
                    
                  </a>
                
        
              </div>
        
              <!-- Button trigger modal -->
              <div>
        <button type="button" (click)="infoCard(gram)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MOMOdal">
          
          Poster un reactSelfie
        </button>
        </div>
        
              <div class="ms-2">
                <!-- <button (click)="clashNav()" class="btn border btn-light" type="button"> -->
                  <button (click)="onFire()" class="btn border btn-light" type="button">
                  
                  <span *ngIf="!logoFire"><i class="fa-solid fa-fire-flame-curved"></i></span>
                  
                  <span *ngIf="logoFire">🔥 {{txtBtnFire}}✌️</span>
                  
                </button>
              </div>
            </div>
          </div>
    
          
            
        
        
        </article>
    
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">reactSelfie pris pour {{gram.titre}}</h5>
        <div *ngIf="modalCardInfo" class="row">
        
         


          <div class="card" style="width: 18rem;">
            <img class="img-fluid" name="urlImg" style="width: 400px;" [src]="gram.urlSelfie" alt="">
       
            
            </div>
          </div>

          <!-- <p>{{gram.urlSelfie}}</p> -->
          <!-- <img class="img-fluid" name="urlImg" style="width: 400px;" [src]="gram.urlSelfie" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</div>





 <!-- Modal selfie --> 
 <div  class="modal fade" id="MOMOdal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div *ngIf="modalCardInfo" style="width: 650px;" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <!-- test biddig -->
        <div class="row skranjiFont">
          <h2>Ajouter un reactSelfie pour </h2>
          <h2>{{oneCardInfo.titre}}</h2>
          
              <!-- <input type="text" class="form-control" placeholder="exemple: ici urlSelfie" name="urlSelfie"
              aria-describedby="basic-addon3" [(ngModel)]="oneCardInfo.urlSelfie" required> -->

            
          

        </div>
        <!-- fin test bidig -->
        <div class="row">
          <div class="col">Prendre un selfie :
              <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" 
                  
                  [videoOptions]="videoOptions"
                  [imageQuality]="1"
                  (initError)="handleInitError($event)"
               ></webcam>
  
               <button class="actionBtn" (click)="triggerSnapshot();">Prendre un selfie</button>
               
          </div>
          <div class="row snapshot" *ngIf="webcamImage">
              <div class="col">
                  <h2>Dernier reactSelfie pris !</h2>
                  <img class="img-fluid" [src]="webcamImage.imageAsDataUrl"/>



                  <!-- <input type="text" name="urlSelfie" [(ngModel)]="this.oneCardInfo.urlSelfie"> -->
                  <button type="submit" data-bs-dismiss="modal" (click)="vUpdate()"> ajout du selfie</button>
              </div>


              
          </div>
         
  
          <div class="col"></div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<br><br>



</div>